* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: gray;
    height: 4rem;
    display: flex;
    justify-content: space-between;

    &__title {
        font-size: 18px;
        margin-top: 1rem;
        margin-right: 2rem;
        margin-left: 2rem;

        &__name {
            color: white;

            &--size {
                font-size: 24px;
            }
        }

        &--fontStyle {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

    &__buttonIniciar {
        background-color: rgb(224, 224, 224);
        border: none;
        border-radius: 45px;
        width: 7rem;
        height: 2rem;
        cursor: pointer;

        &:hover {
            transition: 600ms;
            background-color: black;
            color: white;
        }
    }
}

.login__title {
    text-align: center;
    font-size: 22px;
}

.login {
    display: flex;
    padding: 8rem;
    justify-content: center;

    &__title {
        margin-top: 1rem;
    }

    &__input {
        margin: 1.5rem 0;

        input {
            height: 2rem;
            width: 15rem;
            background-color: rgb(224, 224, 224);
            border: none;
        }
    }

    &__buttons {
        text-align: center;
        margin-left: 0.7rem;

        &__form {
            margin-right: 1rem;
            width: 5rem;
            height: 2rem;
            background-color: gray;
            border-radius: 45px;
            border: none;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: black;
                color: white;
                transition: 600ms;
            }
        }
    }

    &__popUp {
        top: 10rem;
        left: 30rem;
        width: 30ch;
        height: 30ch;
        border: none;
        border-top-left-radius: 10%;
        border-bottom-right-radius: 10%;
        box-shadow: 1px 1px 30px;

        &--space {
            top: 8rem;
            height: 40ch;
        }
    }

    &__form {
        text-align: center;
    }
}

.letters {
    margin-top: 2rem;
    margin-left: 10rem;
    height: 350px;
    width: 879px;

    &__space {
        display: flex;
        width: 100ch;
        background-color: rgb(224, 224, 224);
        border-radius: 10px;
        box-shadow: 3px 4px 10px;



        &__Info {
            display: flex;
            font-size: 22px;
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-top: 6rem;

        }

        img {
            width: 20rem;
            height: 20rem;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }
}

.section__Butons {
    display: flex;
    background-color: rgb(224, 224, 224);
    width: 64%;
    padding: 1rem;
    border-radius: 45px;
    box-shadow: 0 0 5px;
}

.buttons__space {
    display: none;
    /* display: flex; */
    justify-content: center;
    margin-top: 3rem;


    &__transfer {
        margin: 0 1rem;
        width: 10rem;
        height: 4rem;
        background-color: rgb(224, 224, 224);
        border: none;
        border-radius: 10px;
        box-shadow: 3px 4px 10px;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        display: block;

        &:hover {
            transition: 600ms;
            background-color: rgb(113, 113, 113);
            color: white;
            box-shadow: 3px 4px 10px black;
        }
    }
}

.icons {
    display: block;
    font-size: 20px;
    color: black;
}

.index {
    display: block;
}

.tranferencias {
    display: none;
}

.Movimientos {
    display: none;
}

.movimiento{
    margin-top: 1rem;
}

.retirar {
    display: none;
}

.consignacion {
    display: none;
}