*{
    margin: 0;
    padding: 0;
}

.section{
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: rgb(211, 211, 211);
    width: 50%;
    max-height: 90%;
    left: 18rem;
    top: 5rem;
    box-shadow: 1px 1px 10px;
    // border-bottom-left-radius: 45px;
    // border-bottom-right-radius: 45px;
    border-radius: 45px;
    &__title{
        text-align: center;
    }
    &__space{
        display: flex;
        justify-content: center;
        height: 510px;
        
    }
    &__form{
        align-items: center;
        margin-top: 1rem;
    }
    &__inputs{
        padding: 0.3rem 0;
        &--size{
            width: 70ch;
            height: 2rem;
            border: none;
            box-shadow: 0 0 3px;
            border-radius: 45px;
            
        }
    }
    &__spaceTitle{
        margin-bottom: 1rem;
    }
    &__Buttons{
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-left: 1rem;
        
    }
    &__ButtonsStyle{
        width: 10rem;
        height: 3rem;
        margin-right: 1rem;
        background-color: rgb(129, 129, 129);
        color: white;
        border: none;
        border-radius: 45px;
        cursor: pointer;
        &:hover{
            transition: 600ms;
            background-color: black;
        }
        
    }
}